@import "../../../lib/full-width";
img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  border: dotted 1px red;
  padding: 10px;
}

.full-width {
  @include full-width();
}

.full-width--undo {
  @include full-width($undo: true);
}
